<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtension</key>
			<array>
				<string>groceries</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Groceries</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sophiestication.${PRODUCT_NAME:identifier}.groceries</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.sophiestication.${PRODUCT_NAME:rfc1034identifier}.v4</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.sophiestication.${PRODUCT_NAME:identifier}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>groceries</string>
				<string>x-groceries</string>
				<string>x-groceries-v4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>341</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Groceries</string>
			<key>UTTypeIdentifier</key>
			<string>com.sophiestication.${PRODUCT_NAME:identifier}.groceries</string>
			<key>UTTypeReferenceURL</key>
			<string>http://sophiestication.com/groceries/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>groceries</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-groceries-archive</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
