<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>database-identifier</key>
		<string>10001</string>
		<key>identifier</key>
		<string>unit.gram</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10002</string>
		<key>identifier</key>
		<string>unit.milliliter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10003</string>
		<key>identifier</key>
		<string>unit.bottle</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10004</string>
		<key>identifier</key>
		<string>unit.can</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10005</string>
		<key>identifier</key>
		<string>unit.yard</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10006</string>
		<key>identifier</key>
		<string>unit.pint</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10007</string>
		<key>identifier</key>
		<string>unit.pound</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10008</string>
		<key>identifier</key>
		<string>unit.quart</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10010</string>
		<key>identifier</key>
		<string>unit.carton</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10011</string>
		<key>identifier</key>
		<string>unit.bunch</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10012</string>
		<key>identifier</key>
		<string>unit.slice</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10013</string>
		<key>identifier</key>
		<string>unit.packet</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10014</string>
		<key>identifier</key>
		<string>unit.bulb</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10016</string>
		<key>identifier</key>
		<string>unit.item</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10017</string>
		<key>identifier</key>
		<string>unit.stem</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10018</string>
		<key>identifier</key>
		<string>unit.tube</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10019</string>
		<key>identifier</key>
		<string>unit.ounce</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10020</string>
		<key>identifier</key>
		<string>unit.grain</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10021</string>
		<key>identifier</key>
		<string>unit.bar</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10022</string>
		<key>identifier</key>
		<string>unit.barrel</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10024</string>
		<key>identifier</key>
		<string>unit.gallon</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10026</string>
		<key>identifier</key>
		<string>unit.centiliter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10027</string>
		<key>identifier</key>
		<string>unit.fluid-ounce</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10028</string>
		<key>identifier</key>
		<string>unit.inch</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10029</string>
		<key>identifier</key>
		<string>unit.foot</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10031</string>
		<key>identifier</key>
		<string>unit.liter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10032</string>
		<key>identifier</key>
		<string>unit.milligram</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10033</string>
		<key>identifier</key>
		<string>unit.meter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10034</string>
		<key>identifier</key>
		<string>unit.centimeter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10035</string>
		<key>identifier</key>
		<string>unit.millimeter</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10036</string>
		<key>identifier</key>
		<string>unit.kilogram</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10039</string>
		<key>identifier</key>
		<string>unit.cup</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10040</string>
		<key>identifier</key>
		<string>unit.serving</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10043</string>
		<key>identifier</key>
		<string>unit.box</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10045</string>
		<key>identifier</key>
		<string>unit.jar</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10046</string>
		<key>identifier</key>
		<string>unit.pack</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10047</string>
		<key>identifier</key>
		<string>unit.bag</string>
	</dict>
	<dict>
		<key>database-identifier</key>
		<string>10048</string>
		<key>identifier</key>
		<string>unit.canister</string>
	</dict>
</array>
</plist>
