<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>aisle.produce</string>
		<key>database-identifier</key>
		<integer>21</integer>
		<key>image</key>
		<string>produce</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.bread-and-bakery</string>
		<key>database-identifier</key>
		<integer>4</integer>
		<key>image</key>
		<string>bread</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.meat</string>
		<key>database-identifier</key>
		<integer>22</integer>
		<key>image</key>
		<string>meat</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.seafood</string>
		<key>database-identifier</key>
		<integer>23</integer>
		<key>image</key>
		<string>seafood</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.dairy</string>
		<key>database-identifier</key>
		<integer>1</integer>
		<key>image</key>
		<string>dairy</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.frozen</string>
		<key>database-identifier</key>
		<integer>2</integer>
		<key>image</key>
		<string>frozen</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.oils-and-dressings</string>
		<key>database-identifier</key>
		<integer>10</integer>
		<key>image</key>
		<string>dressings</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.sauces-and-spices</string>
		<key>database-identifier</key>
		<integer>11</integer>
		<key>image</key>
		<string>spices</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.pasta-and-sidedishes</string>
		<key>database-identifier</key>
		<integer>7</integer>
		<key>image</key>
		<string>pasta</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.prepared-meals</string>
		<key>database-identifier</key>
		<integer>25</integer>
		<key>image</key>
		<string>prepared</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.canned-goods</string>
		<key>database-identifier</key>
		<integer>8</integer>
		<key>image</key>
		<string>can</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.baking-goods</string>
		<key>database-identifier</key>
		<integer>9</integer>
		<key>image</key>
		<string>muffin</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.breakfast-foods</string>
		<key>database-identifier</key>
		<integer>5</integer>
		<key>image</key>
		<string>breakfast</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.deli</string>
		<key>database-identifier</key>
		<integer>24</integer>
		<key>image</key>
		<string>deli</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.organic-foods</string>
		<key>database-identifier</key>
		<integer>14</integer>
		<key>image</key>
		<string>natural</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.world-cuisine</string>
		<key>database-identifier</key>
		<integer>20</integer>
		<key>image</key>
		<string>world</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.snacks</string>
		<key>database-identifier</key>
		<integer>6</integer>
		<key>image</key>
		<string>brezel</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.health-and-beauty</string>
		<key>database-identifier</key>
		<integer>26</integer>
		<key>image</key>
		<string>beauty</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.infant-and-childcare</string>
		<key>database-identifier</key>
		<integer>13</integer>
		<key>image</key>
		<string>infant</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.cleaningsupplies</string>
		<key>database-identifier</key>
		<integer>16</integer>
		<key>image</key>
		<string>laundry</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.home-and-garden</string>
		<key>database-identifier</key>
		<integer>17</integer>
		<key>image</key>
		<string>garden</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.officesupplies</string>
		<key>database-identifier</key>
		<integer>18</integer>
		<key>image</key>
		<string>office</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.entertainingcenter</string>
		<key>database-identifier</key>
		<integer>19</integer>
		<key>image</key>
		<string>entertainment</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.beverages</string>
		<key>database-identifier</key>
		<integer>3</integer>
		<key>image</key>
		<string>beverages</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>aisle.petstore</string>
		<key>database-identifier</key>
		<integer>15</integer>
		<key>image</key>
		<string>pet</string>
	</dict>
</array>
</plist>
