<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>GROUPBYAISLE_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>REMINDERBADGE_ENABLED</string>
			<key>Key</key>
			<string>GRCReminderBadgeEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GROUPBYAISLE</string>
			<key>Key</key>
			<string>GRCShoppingListAisleGroupingEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>DATABASELANGUAGE_FOOTER</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>automatic</string>
				<string>en</string>
				<string>de</string>
				<string>fr</string>
			</array>
			<key>Titles</key>
			<array>
				<string>DATABASELANGUAGE_AUTOMATIC</string>
				<string>English</string>
				<string>Deutsch</string>
				<string>Français</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>DATABASELANGUAGE</string>
			<key>Key</key>
			<string>GRCPreferredLanguageCode</string>
			<key>DefaultValue</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>COPYRIGHT</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>TSABuildID</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<string>1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>4.0.1 (341)</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ACKNOWLEDGEMENTS</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
