<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pluralRules</key>
	<array>
		<array>
			<string>s$</string>
			<string>$1se</string>
		</array>
		<array>
			<string>(.)t$</string>
			<string>$1te</string>
		</array>
		<array>
			<string>(.)l$</string>
			<string>$1le</string>
		</array>
		<array>
			<string>(.)e$</string>
			<string>$1en</string>
		</array>
		<array>
			<string>(.)o$</string>
			<string>$1os</string>
		</array>
		<array>
			<string>(.)el$</string>
			<string>$1eln</string>
		</array>
	</array>
	<key>singularRules</key>
	<array>
		<array>
			<string>(.)se$</string>
			<string>$1s</string>
		</array>
		<array>
			<string>(.)te$</string>
			<string>$1t</string>
		</array>
		<array>
			<string>(.)le$</string>
			<string>$1l</string>
		</array>
		<array>
			<string>(.)en$</string>
			<string>$1e</string>
		</array>
		<array>
			<string>(.)os$</string>
			<string>$1o</string>
		</array>
		<array>
			<string>(.)eln$</string>
			<string>$1el</string>
		</array>
	</array>
	<key>irregularRules</key>
	<array>
		<array>
			<string>apfel</string>
			<string>äpfel</string>
		</array>
	</array>
	<key>uncountableWords</key>
	<array>
		<string>reis</string>
		<string>fenchel</string>
		<string>wasser</string>
		<string>knoblauch</string>
	</array>
</dict>
</plist>
